.cardProducto{
    background-color: rebeccapurple;
    border-radius: 50px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: wrap;
    flex-direction: column;
    align-items: center;
}

.cardProducto img{
    width: 150px;
    object-fit: contain;
}
 
.cardProducto button{
    background-color: rgb(70, 74, 70);
    color: #fafafa;
    font-size: 1.7rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}